<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}" />{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <meta property="og:type"                content="website">
    <meta property="og:site_name"           content="Dan Goldin">
    <meta property="og:url"                 content="{{ site.production_url }}{{ page.url }}">
    <meta property="og:title"               content="{{ page.title }}">
    {% if page.description %}
    <meta property="og:description"         content="{{ page.description }}">
    {% endif %}
    {% if page.image_url %}
    <meta property="og:image"               content="{{ site.production_url }}{{ page.image_url }}">
    {% endif %}

    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>

    <!-- <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'> -->

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="span3 offset1">
          <div class="avatar-section">
            <a id="avatar" href="/"></a>

            <ul id="social">
              <li>
                <a href="mailto:dangoldin@gmail.com?subject=Hey" class="icon-envelope" onclick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Email']);" title="Say hi"></a>
              </li>

              <li>
                <a href="http://www.glos.si/dan" class="icon-glossi" onclick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Glossi']);" title="My social media stuff here"></a>
              </li>

              <li>
                <a href="http://github.com/dangoldin" class="icon-github" onclick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Github']);" title="I share and fork code here"></a>
              </li>

              <li>
                <a href="http://twitter.com/dangoldin" class="icon-twitter" onclick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Twitter']);" title="You should follow me"></a>
              </li>

              <li>
                <a href="http://www.linkedin.com/in/dangoldin" class="icon-linkedin" onclick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar LinkedIn']);" title="My professional stuff here"></a>
              </li>
            </ul>

            <ul id="me">
              <li>Dan Goldin</li>
              <li class="gray">Tech guy</li>
            </ul>

            <ul>
              <li><a href="{{ BASE_PATH }}/">Home</a></li>
              <li><a href="{{ BASE_PATH }}/active">Currently doing</a></li>
              <li><a href="{{ BASE_PATH }}/prior">Used to do</a></li>
            </ul>
          </div>
        </div>

        <div class="span7">
          {{ content }}
        </div>
      </div>

    </div><!-- /container -->

    {% include JB/analytics %}
  </body>
</html>
