<div class="row header">
  <div class="span5">
    <h1>{{ page.title }} <small>{{ page.tagline }}</small></h1>
  </div>
  <div class="span2">
    <span class="date">{{ page.date | date_to_long_string }}</span>
  </div>
</div>

<div class="row">
  <div class="span7">
    <div class="post">
      {{ content }}
    </div>

    {% unless page.tags == empty %}
    <div>
      <ul class="tags">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
      </ul>
    </div><br/>
    {% endunless %}

    <div class="follow-footer">
      Liked this post? Follow me on Twitter <a href="https://twitter.com/dangoldin">here</a>.
    </div>

    <div class="row publish-footer">
      <div class="span4">
        <div class="pagination">
          <ul>
          {% if page.previous %}
            <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Prev</a></li>
          {% else %}
            <li class="prev disabled"><a>&larr; Prev</a></li>
          {% endif %}
            <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
          {% if page.next %}
            <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
          {% else %}
            <li class="next disabled"><a>Next &rarr;</a></li>
          {% endif %}
          </ul>
        </div>
      </div>

      <div class="span3">
        <div class="sharing">
        </div>
      </div>
    </div>

    <hr/>
    {% include JB/comments %}
    </div>
  </div>
</div>
