/* General setup */
body {
    margin: 40px 0;
    font-size: 20px;
    color: #444;
}

p {
    font-size: 20px;
    line-height: 24px;
}

li {
    font-size: 20px;
    line-height: 24px;
}

a {
    color:#06A;
}

a:visited {
    color:#607890;
}

.gray {
    color: #999;
}

/* Avatar (left hand size) */
.avatar-section li {
    line-height: 23px;
}

.avatar-section ul {
    list-style: none outside;
    margin-bottom: 20px;
}

#avatar {
    background-image: url('/assets/static/images/photo.jpg');
    background-size: cover;
    height: 154px;
    width: 154px;
    display: block;
    border-radius: 50%;
    margin-bottom: 8px;
    border: 2px solid #999;
    opacity: .8;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    margin-left: 22px;
}

#social li {
    display: inline-block;
    font-size: 22px;
    overflow: hidden;
}

#social a, #social a:visited {
    color: #999;
    -webkit-transition: color 200ms ease-in;
    -moz-transition: color 200ms ease-in;
    -o-transition: color 200ms ease-in;
}

a.icon-envelope {
    background: url('/assets/static/images/icons/webicon-mail.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

a.icon-glossi {
    background: url('/assets/static/images/icons/webicon-glossi.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

a.icon-github {
    background: url('/assets/static/images/icons/webicon-github.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

a.icon-twitter {
    background: url('/assets/static/images/icons/webicon-twitter.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

a.icon-linkedin {
    background: url('/assets/static/images/icons/webicon-linkedin.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

/* Main content area */
span.date {
    text-align: right;
    color: #999;
    float: right;
}

/* Post area */
.header span.date {
    font-size:14px;
    margin-top: 14px;
}

.header {
    padding-bottom: 17px;
    margin-top: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid #EEE;
}

.publish-footer {
    margin-top:20px;
    margin-bottom:10px;
}

.pagination {
    text-align: center;
    height: inherit;
    margin: inherit;
}

.sharing {
    text-align: center;
}

ul {
    list-style: none outside;
}

.post blockquote {
    padding: 8px;
    font-size: 18px;
}

.post .zemanta-related-title {
    margin-top: 20px;
}

.post table {
    margin: 10px 0;
}

.post td {
    font-size: 16px;
}