<header class="site-header">
  <div class="avatar-section">
    <a id="avatar" href="/"></a>
    <div>
      <ul id="me">
        <li>Dan Goldin</li>
        <li class="gray">Engineering @ <a href="http://triplelift.com/">TripleLift</a></li>
      </ul>
      <ul id="social">
          <li>
            <a href="mailto:dangoldin@gmail.com?subject=Hey" class="icon-envelope" title="Say hi" id="link-email"></a>
          </li>
          <li>
            <a href="http://github.com/dangoldin" class="icon-github" title="I share and fork code here" id="link-github"></a>
          </li>
          <li>
            <a href="http://twitter.com/dangoldin" class="icon-twitter" title="You should follow me" id="link-twitter"></a>
          </li>
          <li>
            <a href="http://www.linkedin.com/in/dangoldin" class="icon-linkedin" title="My professional stuff here" id="link-linkedin"></a>
          </li>
        </ul>
    </div>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/tags/">Tagged Posts</a></li>
    </ul>
  </div>
</header>
