@import 'bourbon/bourbon';
@import 'syntax-highlighting';

$grey-color: #828282;

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

amp-img {
  background-color: grey;
}

.cf {
  @include clearfix;
}

$rs: 16px;

$font-serif: Georgia,Cambria,"Times New Roman",Times,'Lora', serif;
$font-sans: "Helvetica Neue", 'Open Sans', Arial, Helvetica, sans-serif;

@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) {
    @content;
  }
}

// Only needed for syntax highlighting
%vertical-rhythm {
  margin-bottom: $rs;
}

main {
  display: block;
}

body {
  font-family: $font-sans;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

h1, h2, h3, h4, h5 {
  color: #222;
  font-weight: 300;
}

h1 {
  font-size: 40px;
  line-height: 45px;
}

h2 {
  font-size: 36px;
  line-height: 40px;
}

h3 {
  font-size: 30px;
  line-height: 34px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
}

h1 small {
  font-size: 20px;
  color: #666;
  font-weight:300;
}

li {
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 8px;
}

ul.tags {
  list-style: none outside;
  margin: 0;
  padding: 0;
  padding-top: 20px;


  li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;

    font-size: 16px;
    line-height: 20px;
  }
}

.follow-footer {
  font-size: 16px;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
}

.site-header {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 16px auto 0 auto;
  @include box-sizing(border-box);
  @include respond-to(700) {
    padding: 0 $rs * 1;
  }
}

a {
  text-decoration: none;
  color: #06A;

  :visited {
    color: #607890;
  }

  :hover {
    color: #005580;
  }
}

.avatar-section {
  display: flex;
  flex-direction: row;

  ul {
    list-style: none outside;
    margin-bottom: 20px;

    li {
      line-height: 23px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
  }
}

#avatar {
    background-image: url('/assets/static/images/photo.jpg');
    background-size: cover;
    height: 154px;
    width: 154px;
    display: block;
    border-radius: 50%;
    margin-bottom: 8px;
    border: 2px solid #999;
    opacity: .8;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    margin-left: 22px;
}

#social li {
    display: inline-block;
    font-size: 22px;
    overflow: hidden;
}

#social a, #social a:visited {
    color: #999;
    -webkit-transition: color 200ms ease-in;
    -moz-transition: color 200ms ease-in;
    -o-transition: color 200ms ease-in;
}

a.icon-envelope {
    background: url('/assets/static/images/icons/webicon-mail.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

a.icon-glossi {
    background: url('/assets/static/images/icons/webicon-glossi.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

a.icon-github {
    background: url('/assets/static/images/icons/webicon-github.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

a.icon-twitter {
    background: url('/assets/static/images/icons/webicon-twitter.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

a.icon-linkedin {
    background: url('/assets/static/images/icons/webicon-linkedin.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

a.icon-feedly {
    background: url('/assets/static/images/icons/webicon-feedly.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

ul.posts, ol.posts {
  list-style: none outside;
  padding: 0;
  margin: 40px 25px 10px 25px;

  span.date {
    text-align: right;
    color: #999;
    float: right;
    font-family: 'Gentium Book Basic', serif;
  }

  li {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
  }
}

ul.thumbnails {
  list-style: none outside;

  div.thumbnail {
    max-width: 700px;
  }
}

.content {
  width: 100%;
  max-width: 700px;
  margin: 25px auto 0 auto;
  @include box-sizing(border-box);
  @include respond-to(700) {
    padding: 0 $rs * 1;
  }

  article {
    padding: 10px 0;
    border-bottom: 1px solid #f2f2f0;
    &:last-child {
      border-bottom: 0px;
    }
    .post-title, .page-title {
      letter-spacing: -0.02em;
      font-style: normal;
      display: block;
      font-size: 36px;
      line-height: 1.15;
      margin: 0 0;
      a {
        text-decoration: none;
        color: #333332;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .post-excerpt, .page-excerpt {
      letter-spacing: -0.02em;
      font-style: normal;
      font-size: 20px;
      line-height: 1.59;
      color: #666665;
    }
    .post-meta, .page-meta {
      font-size: 14px;
      color: #b3b3b1;
      line-height: 30px;
      a {
        color: #b3b3b1;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.pagination {
  text-align: center;
  padding: $rs * 1 0 0;
  font-size: $rs / 4 * 3;
  a {
    color: #999999;
    text-decoration: none;
    &:hover {
      color: #333333;
    }
  }
  ul {
    display: inline-block;
    margin: 0;

    li {
      display: inline;
    }
  }
}

.site-footer {
  margin: 0 auto;
  padding: $rs * 3 0;
  width: 100%;
  max-width: 700px;
  font-size: $rs / 4 * 3;
  text-align: center;
  color: #999999;
  line-height: $rs * 1.1;
  a {
    color: #666666;
    text-decoration: none;
    &:hover {
      color: #333333;
    }
  }
}

.post, .page {
  .post-meta, .page-meta {
    font-family: $font-sans;
  }
  .post-title, .page-title {
    font-style: normal;
    letter-spacing: -0.04em;
    font-size: 50px;
    line-height: 1.1;
    color: #333332;
    margin-bottom: 50px;
  }
  .post-meta-text, .page-meta-text {
    color: #b3b3b1;
    letter-spacing: -0.02em;
    font-style: normal;
    font-size: 14px;
    overflow: hidden;
    font-family: $font-sans;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .post-content, .page-content {
    width: 100%;
    font-family: $font-serif;
    color: #333333;
    h1, h2, h3 {
      font-family: $font-sans;
    }
    h3, h4, h5, h6 {
      letter-spacing: -0.02em;
      font-style: normal;
      font-size: 24px;
      line-height: 1.3;
      margin-top: 50px;
      margin-bottom: 0px;
      font-family: $font-sans;
    }
    h3 {
      font-size: 30px;
      line-height: 34px;
      font-weight: 300;
    }
    h2, h1 {
      letter-spacing: -0.02em;
      font-weight: 300;
      font-style: normal;
      font-size: 42px;
      line-height: 1.2;
      margin-top: 50px;
      margin-bottom: 0px;
    }
    p {
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      line-height: 1.59;
      letter-spacing: -.002em;
      margin-top: 30px;
      margin-bottom: 0;
      color: #333333;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;

      &.caption {
        font-size: 20px;
        line-height: 1.2;
        margin-top: 2px;
        text-align: center;
      }
    }
    amp-img, amp-youtube {
      margin-top: 30px;
    }
    figure {
      margin: 0;
      padding: 0;
    }
    figcaption {
      font-weight: 400;
      font-style: italic;
      font-size: 16px;
      line-height: 1.3;
      color: #666665;
      outline: 0;
      z-index: 300;
      text-align: center;
    }
    hr {
      border: 0;
      padding: 0;
      display: block;
      width: 15%;
      margin: 30px auto;
      border: 0px solid #dddddd;
      border-top: 1px solid #dddddd;
    }
    blockquote {
      margin: 20px 0 20px;
      margin-left: -26px;
      border-left: 3px solid #57ad68;
      padding-left: 20px;
      p {
        letter-spacing: 0.01rem;
        font-weight: 400;
        mborder-left: 3px solid #57ad68;
        mpadding-left: 20px;
        mmargin-left: -26px;
        padding-bottom: 3px;
        font-size: 20px;
        line-height: 1.3;
        padding-bottom: 10px;
      }
    }
    ul, ol {
      padding: 0;
      margin: 10px 0 10px 25px;

      &.inline {
        margin-left: 0;
        list-style: none;

        li {
          display: inline-block;
          padding-right: 5px;
          padding-left: 5px;
          margin: 0;

          &.dense {
            padding-top: 0;
            margin-bottom: 2px;
          }
        }
      }

      li {
        padding: 0;
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        line-height: 1.59;
        letter-spacing: -.002em;
        margin-left: 30px;
        margin-bottom: 2px;
        padding-top: 2px;
        p {
          padding: 0 10px 0 10px;
        }

        &.dense {
          padding-top: 0;
          margin-bottom: 2px;
        }
      }

      &.tag_box {
        padding-top: 10px;
      }
    }

    ol li {
      list-style-type: decimal;
    }
  }
  .bottom-teaser {
    padding: 50px 0 0 0;
    font-family: $font-sans;
    hr {
      border: 0;
      padding: 0;
      display: block;
      width: 15%;
      margin: 16px 0 16px 100px;
      border: 0px solid #dddddd;
      border-top: 1px solid #dddddd;
    }
    .isLeft {
      float: left;
      width: 47%;
      @include box-sizing(border-box);
      @include respond-to(700) {
        width: 100%;
        padding-bottom: $rs * 2;
      }
      .bio {
        margin-top: 18px;
        margin-bottom: 18px;
      }
      .username {
        margin-left: 4px;
        margin-right: 18px;
        margin-bottom: 18px;
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: #333333;
          text-decoration: underline;
        }
      }
      .author-image {
        display: block;
        width: 80px;
        height: 80px;
        float: left;
        background-size: cover;
        border-radius: 100%;
        text-indent: -9999px;
      }
      h4 {
        font-size: 18px;
        line-height: 1.1;
        padding: 0;
        margin: 0;
        padding-left: 100px;
      }
      p {
        font-size: 14px;
        line-height: 1.3;
        font-weight: 400;
        padding: 0;
        margin: 0;
        padding-left: 100px;
        &.published {
          color: #999999;
        }
      }
    }
  }
}

.share {
  text-align: right;
  padding: 20px 0 0;
  a {
    text-decoration: none;
    color: #bbbbbb;
    padding-left: 12px;
    .hidden {
      display: none;
    }
    &:hover {
      color: #333333;
    }
  }
}

.right10 {
  float:right;
  padding-left: 10px;
  min-width: 250px;
}

.video-holder {
  padding: 5px 0 5px 0;
}

pre,code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eeeeff;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

table {
  margin: 10px 0 10px 0;
  border-collapse: collapse;

  td {
    border-bottom:1pt solid #eee;
    padding: 6px 2px 6px 2px;
    border-spacing: 6px;
  }
}

.pagination .disabled {
    opacity: 0;
}

.comments {
  margin-top: 10px;
}
