<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
      <span class="date">{{ page.date | date_to_long_string }}</span>
    </div>

    <section class="post-content">
      {{content}}
    </section>

    {% unless page.tags == empty %}
    <div>
      <ul class="tags">
        <li>Tagged under:</li>
      {% assign tags_list = page.tags %}
      {% include tags_list %}
      </ul>
    </div><br/>
    {% endunless %}

    <div class="follow-footer">
      Liked this post? Follow me on Twitter <a href="https://twitter.com/dangoldin">here</a>.
    </div>

    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Prev</a> | </li>
      {% else %}
        <li class="prev disabled"><a>&larr; Prev</a> | </li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a> | </li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a></li>
      {% endif %}
      </ul>
    </div>

    <!-- src="https://dangoldin-githubblog.disqus.com/embed.js"> -->

<!--     <amp-iframe width="300" height="300"
            layout="responsive"
            sandbox="allow-forms allow-modals allow-popups allow-popups-to-escape-sandbox allow-scripts"
            resizable
            frameborder="0"
            src="https://disqus.com/embed/comments/?base=default&version=74622dc19b1055d1af48a4f378c4b79b&f=dangoldin-githubblog&t_u=http%3A%2F%2Fdangoldin.com%2F2016%2F08%2F21%2Fdownloading-your-turo-ride-history%2F&t_d=Downloading%20your%20Turo%20ride%20history%20&t_t=Downloading%20your%20Turo%20ride%20history%20&s_o=default">
      <div overflow tabindex=0 role=button aria-label="Read more">more!</div>
    </amp-iframe> -->

    <!-- <footer class="post-footer">
      <section class="share">
        <a class="icon" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.id }}&text={{page.title | cgi_escape}}&via={{ site.twitter_username }}" target="_blank">
          Share on
          {% include icon-twitter.html %}
        </a>
      </section>
    </footer> -->

    <!--
    <div class="bottom-teaser cf">
      <div class="isLeft">
        <h5 class="index-headline featured"><span>Written by</span></h5>
        <section class="author">
          <div class="author-image"></div>
          <h4>{{ site.name }}</h4>
          <p class="bio">{{site.bio}}</p>

          <p>
            <span>
              {% if site.github_username %}
                {% include icon-github.html username=site.github_username %}
              {% endif %}
            </span>

            <span>
              {% if site.twitter_username %}
                {% include icon-twitter.html username=site.twitter_username %}
              {% endif %}
            </span>
          </p>
          <hr>
          <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
        </section>
      </div>
      {{/post}}

      <div class="isRight">
        <h5 class="index-headline featured"><span>Supported by</span></h5>
        <footer class="site-footer">
          <section class="poweredby">Proudly published with <a href="http://jekyllrb.com"> Jekyll</a> and <a href="https://github.com/ageitgey/amplify">Amplify</a></section>
          <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> You should subscribe to my feed.</span></a>
          <div class="inner">
            <section class="copyright">All content copyright <a href="mailto:{{ site.email}}">{{site.name}}</a> &copy; {{ site.time | date: '%Y' }}<br>All rights reserved.</section>
          </div>
        </footer>
      </div>

    </div>
    -->
  </article>
</main>

<script type="text/javascript" src="/assets/static/js/d3.v3.min.js"></script>
<script type="text/javascript" src="/assets/static/js/d3.layout.cloud.js"></script>

<script type="text/javascript" src="/assets/static/js/lincoln-text-summary.js"></script>
<script type="text/javascript" src="/assets/static/js/lincoln-text-clouds.js"></script>

{% include footer.html %}