<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
      <span class="date">{{ page.date | date_to_long_string }}</span>
    </div>

    <section class="post-content">
      {{content|amp_images}}
    </section>

    {% unless page.tags == empty %}
    <div>
      <ul class="tags">
        <li>Tagged under:</li>
      {% assign tags_list = page.tags %}
      {% include tags_list %}
      </ul>
    </div><br/>
    {% endunless %}

    <div class="follow-footer">
      Liked this post? Follow me on Twitter <a href="https://twitter.com/dangoldin">here</a>.
    </div>

    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Prev</a> | </li>
      {% else %}
        <li class="prev disabled"><a>&larr; Prev</a> | </li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"> | <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a></li>
      {% endif %}
      </ul>
    </div>

    <div class="comments">
      <amp-iframe
        height="300"
        sandbox="allow-forms allow-modals allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
        resizable
        frameborder="0"
        src="https://s3.amazonaws.com/dangoldin.com/amp-disqus.html?url={{ page.url | prepend: site.production_url | cgi_escape }}&title={{ page.title | cgi_escape }}">
        <div overflow tabindex="0" role="button" aria-label="Read more">Read more!</div>
      </amp-iframe>
    </div>

  </article>
</main>

{% include_cached footer.html %}