<div class="my-4 my-lg-5 header">
    <div class="container">
        <div class="row">
            <div class="col-auto offset-lg-2 d-none d-lg-block">
                {{ if .Site.Params.logofile }}
                    <a href="/">
                        <img class="ml-lg-4 logo img-fluid d-block rounded-circle" src="/{{ .Site.Params.logofile }}" alt="logo">
                    </a>
                {{ end }}
            </div>
            <div class="col-auto align-self-center mr-auto">
                <a href="/">
                    <h1 class="name">{{ .Site.Params.pagetitle }}</h1>
                </a>

                <ul class="nav nav-primary">
                    {{ range .Site.Menus.primary.ByWeight }}
                        <li class="nav-item">
                            <a class="nav-link{{ if .Identifier }} text-{{ .Identifier }}{{ end }}" href="{{ .URL }}">
                                {{ .Pre }}
                                {{ .Name }}
                            </a>
                        </li>
                    {{ end }}

                    {{ if .IsTranslated }}
                        <li class="ml-4">
                            <ul class="nav nav-languages">
                                {{ range .Translations }}
                                    <li>
                                        <a class="nav-link" href="{{ .Permalink }}">
                                            <strong>{{ upper .Language }}</strong>
                                        </a>
                                    </li>
                                {{ end }}
                            </ul>
                        </li>
                    {{ end }}
                </ul>

            </div>
        </div>
    </div>
</div>
